body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    
    background-color: #ffffff;
    min-width: 960px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
}

.header,
.services {
    background-color: #f4f7f9;
}

.header-top,
.header-bottom,
.search {
    color: rgb(255, 255, 255);
    background-color: #32425c;
}

.header-logo {
    background-color: #ee3643;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0px 5px 0 0 #b52933;
}

.header-logo:hover,
.header-logo:focus,
.footer-logo:hover,
.footer-logo:focus {
    background-color: #ca2c37;
    box-shadow: 0px 5px 0 0 #9a212a;
}

.header-logo:active,
.footer-logo:active {
    background-color: #ba2732;
    box-shadow: 0px 5px 0 0 #8e1e26;
}

.footer-logo {
    background-color: #ee3643;
    box-shadow: 0px 5px 0 0 #b52933;
    padding: 20px 40px 16px 40px;
}

.header-link:hover,
.header-link:focus,
.search:hover,
.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #212a3a;
}

.search {
    border: none;
    flex-grow: 1;
}

.search::placeholder {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.search:focus {
    background-color: #ffffff;
    color: #000000;
}

.header-link:active,
.site-navigation a:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.cart-full {
    background-color: #ee3643;
}

.cart-full:hover,
.cart-full:focus {
    background-color: #ca2c37;
}

.cart-full:active {
    background-color: #ba2732;
}

.order {
    padding: 12px 20px;
    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

.site-title {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    margin: 0;
}

.telephone {
    display: block;
    box-sizing: border-box;
    
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    
    color: #ee3643;
    border: 3px solid #ffffff;
    
    padding: 12px 10px 7px 26px;
    margin-bottom: 5px;
    
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
}

.header-top a,
.header-bottom a {
    color: #ffffff;
}

.user-navigation,
.site-navigation,
.promo-list,
.services-list,
.slider {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-navigation a {
    color: #000000;
    background-color: #ffffff;
    
    font-size: 21px;
    line-height: 21px;
    padding: 12px 23px;
}

.user-navigation a:hover,
.user-navigation a:focus {
    color: #ee3643;
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-contacts {
    text-align: center;
    flex-grow: 0;
}

.address {
    font-style: normal;
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
}

.button {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    
    color: #ffffff;
    background-color: #ee3643;
    
    padding: 11px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.promo {
    font-family: Cuprum, Arial, sans-serif;
    color: #ffffff;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 50px;
}

.promo-item-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 14px;
    margin-left: 3px;
}

.materials {
    background-color: #ffbf47;
    position: relative;
}

.materials::after {
    position: absolute;
    content: "";
    
    top: 30px;
    right: 42px;
    
    width: 44px;
    height: 65px;
    
    background-image: url("../img/icon-materials.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-list a {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    width: 135px;
    text-align: center;
    padding: 10px 0;
    margin-left: 5px;
}

.promo a:hover,
.promo a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.tool {
    background-color: #3bbce3;
    position: relative;
}

.tool::after {
    position: absolute;
    content: "";
    
    top: 33px;
    right: 28px;
    
    width: 75px;
    height: 61px;
    
    background-image: url("../img/icon-tool.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.machinery {
    background-color: #dc91d8;
    position: relative;
}

.machinery::after {
    position: absolute;
    content: "";
    
    top: 31px;
    right: 31px;
    
    width: 78px;
    height: 62px;
    
    background-image: url("../img/icon-machinery.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.discount {
    background-color: #8ed78f;
    position: relative;
    margin-bottom: 20px;
}

.discount::after {
    position: absolute;
    content: "";
    
    top: 26px;
    right: 45px;
    
    width: 59px;
    height: 72px;
    
    background-image: url("../img/icon-discount.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-delivery {
    background-color: #ffc047;
    position: relative;
}

.promo-delivery::after {
    position: absolute;
    content: "";
    
    top: 32px;
    right: 31px;
    
    width: 78px;
    height: 63px;
    
    background-image: url("../img/icon-delivery.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slider-wrapper {
    position: relative;
    padding: 0;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 620px;
    height: 266px; 
}

.slider-1 {
    width: 100%;
    height: 100%;
    
    position: absolute;
    background-color: #a87d73;
    background-image: url("../img/slider-perforator-1.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.slider-2 {
    width: 100%;
    height: 100%;
    
    position: absolute;
    background-color: #d3c2ac;
    background-image: url("../img/slider-perforator-2.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.js-show-left {
    z-index: 1;
    animation-name: slide-left;
    animation-duration: 0.4s;
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.js-show-right {
    z-index: 1;
    animation-name: slide-right;
    animation-duration: 0.4s;
}

.js-show-initial {
    z-index: 1;
}

.slider-1,
.slider-2 {
    padding: 25px;
    box-sizing: border-box;
}

.slider-title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
}

.slider-slogan {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.slider a:hover,
.slider a:focus {
    background-color: #ca2c37;
}

.slider a:active {
    background-color: #ba2732;
}

.slider-button {
    padding-left: 49px;
    padding-right: 45px;
    position: absolute;
    bottom: 22px;
    left: 25px;
}

.popular-wrapper {
    background-color: #f9f5f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 19px;
}

.popular-button {
    width: 253px;
    text-align: center;
}

.catalog-item {
    width: 220px;
    border: 1px solid #eaeaea;
    
    padding-bottom: 20px;
    box-sizing: border-box;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.catalog-item-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
    order: 2;
    text-align: center;
    margin: 0 30px;
    margin-bottom: 11px;
}

.catalog-brand {
    display: block;
}

.catalog-item-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.price-old {
    display: block;
    color: #a9a9a9;
    text-decoration: line-through;
    margin-bottom: 10px;
}

.price {
    display: block;
    
    color: #ffffff;
    background-color: #ee3643;
    
    padding: 10px 21px;
    padding-right: 5px;
    margin: 0 40px;
    
    width: 98px;
    
    position: relative;
    left: -4px;
    top: 2px;
    border-radius: 2px 0 0 2px;
}

.price::after {
    position: absolute;
    content: "";
    
    top: 0px;
    right: -20px;
    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 20px;
    border-color: transparent transparent transparent #ee3643;
}

.brands-icons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button.buy {
    background-color: #63a63e;
    color: #ffffff;
    border: none;
    box-shadow: inset 0px -3px 0 0 #367315;
    outline: none;
}

.button.buy:hover,
.button.buy:focus {
    background-color: #5fbb2d;
}

.button.buy:active {
    background-color: #518534;
    box-shadow: none;
}

.button.add-to-bookmarks {
    background-color: #ffffff;
    color: #32425c;
    border: #63a63e 3px solid;
    outline: none;
}

.button.add-to-bookmarks:hover,
.button.add-to-bookmarks:focus {
    border: #32425c 3px solid;
}

.button.add-to-bookmarks:active {
    border: rgba(50, 66, 92, 0.3) 3px solid;
    color: rgba(50, 66, 92, 0.3);
}

.brand-card a:hover,
.brand-card a:focus {
    box-shadow: 0px 5px 25px 0px
    rgba(41, 52, 73, 0.5);
}

.brand-card a:focus-within {
    box-shadow: 0px 5px 25px 0px
    rgba(41, 52, 73, 0.5);
}

.brand-card a:active {
    opacity: 0.3;
    box-shadow: 0px 5px 10px 0px
    rgba(41, 52, 73, 0.5);
}

.title {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

.title-blue {
    color: #32425c;
}

.title-black {
    color: #000000;
}

.services-menu {
    font-family:  Cuprum, Arial, sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.services-button {
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    background-color: #32425c;
    font-weight: bold;
    border: none;
}

.services-button:hover,
.services-button:focus {
    background-color: #293449;
}

.services-button:active {
    background-color: #ffffff;
    color: #32425c;
}

.services-button.current {
    background-color: #ffffff;
    color: #32425c;
}

.services-item-title {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: normal;
    color: #32425c;
    margin: 0;
    padding-bottom: 25px;
}

.partners-list {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding-top: 21px;
    padding-left: 38px;
    margin-bottom: 20px;
}

.feedback-item > label {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
}

::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.footer-contacts .address,
.main-footer a,
.footer-links {
    color: #ffffff;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
}

.footer-links {
    background-color: #293449;
    padding-top: 36px;
    padding-bottom: 30px;
}

.footer-site-navigation,
.promo-link,
.footer-social ul {
    list-style: none;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
.promo-link a:hover,
.promo-link a:focus {
    text-decoration: underline;
}

.footer-site-navigation a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.promo-link a:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.promo-link a {
    color: #ffd180;
}

.footer-links p {
    font-size: 16px;
    line-height: 18px;
}

.footer-copyright-disclaimer {
    margin-right: 44px;
}

.footer-social {
    text-align: center;
}

.footer-column-wrapper {
    display: flex;
    justify-content: space-around;
    padding-right: 16px;
}

.footer-feedback a,
.footer-copyright a {
    color: #ffd180;
    font-size: 16px;
}

.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
    text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright a:active {
    color: #ee3643;
    text-decoration: none;
}

.footer-copyright {
    margin-left: 52px;
}

.user-name {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    
    display: block;
    padding: 12px;
    padding-left: 48px;
    
    position: relative;
    flex-shrink: 0;
}

.user-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-name::before {
    position: absolute;
    content: "";
    
    top: 13px;
    left: 16px;
    
    width: 20px;
    height: 20px;
    
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.3;
}

.user-name:hover::before,
.user-name:focus::before { 
    opacity: 1;
}

.user-name:active::before { 
    opacity: 0.3;
}

.profile-account {
    display: flex;
    margin-bottom: 5px;
}

.profile-logout {
    flex-grow: 1;
    min-height: 45px;
    position: relative;
    
    background-color: #ffffff;
}

.logout::after {
    position: absolute;
    content: "";
    
    top: 14px;
    right: 11px;
    
    width: 20px;
    height: 20px;
    
    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.3;
}

.logout:hover::after,
.logout:focus::after {
    opacity: 1;
}

.logout:active::after { 
    opacity: 0.3;
}

.profile-links {
    list-style: none;
    padding: 0;
    margin: 0;
    
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.profile-links li {
    margin-left: 20px;
    position: relative;
}

.profile-links a {
    color: #32425c;
    text-decoration: underline;
}

.profile-links a:hover,
.profile-links a:focus {
    color: #ee3643;
}

.profile-links a:active {
    color: rgba(50, 66, 92, 0.3);
}

.user-orders {
    position: relative;
    margin-right: 12px;
}

.profile-links li::after {
    position: absolute;
    content: "";
    
    top: 9px;
    right: -20px;
    
    width: 4px;
    height: 4px;
    
    background-color: #32425c;
    border-radius: 50%;
    
    align-self: center;
}

.profile-links li:last-child::after {
    display: none;
}

.breadcrumbs {
    list-style: none;
    line-height: 18px;
    text-transform: uppercase;
    
    padding: 0;
    margin: 0;
    margin-bottom: 22px;
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs li {
    position: relative;
    
    margin-right: 42px;
}

.breadcrumbs li::after {
    content: "";
    
    position: absolute;
    top: 2px;
    right: -27px;
    
    width: 8px;
    height: 12px;
    
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs-current::after {
    display: none;
}

.filters {
    text-transform: uppercase;
}

.filters-general-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    padding: 10px 20px;
}

.filter-title {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    
    padding-top: 13px;
    padding-bottom: 14px;
}

.power-title {
    padding-top: 21px;
}

.range-controls {
    position: relative;
    display: block;
    background-color: #f7f3ec;
    margin-bottom: 9px;
    padding: 40px 20px;
    border-radius: 2px;
}

.range-controls .scale {
    height: 2px;
    
    background: #d7dcde;
    margin-left: 5px;
}

.range-controls .slider-bar {
    width: 80%;
    height: 2px;
    
    background: #00ca74;
}

.range-toggle {
    position: absolute;
    top: 32px;
    
    width: 4px;
    height: 4px;
    
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 22px;
}

.range-toggle-max {
    right: 40px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-range {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    
    padding: 7px 0 11px;
    margin-bottom: 25px;
    
    background-color: #f7f3ec;
    border-radius: 2px;
    
    width: 98px;
    border: none;
    text-align: center;
}

.dash {
    padding: 0px 7px 25px 7px;
    font-size: 15px;
}

.price-range::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
}

.brands-list,
.power-source-list  {
    list-style: none;
    padding: 0;
    margin: 0;
}

.brands-list label,
.power-source-list label {
    list-style: none;
    font-size: 15px;
    line-height: 20px;
}

.filters-field {
    border: none;
    padding: 0;
    margin: 0;
    
    border-bottom: 1px solid #eaeaea;
}

.filter-form .filters-field:last-of-type {
    margin-bottom: 55px;
    border: none;
}

.filter-option {
    margin-bottom: 20px;
    padding-left: 34px;
}

.filter-option label {
    position: relative;
    
    display: block;
    
    cursor: pointer;
    user-select: none;
}

.checkbox-label::before {
    content: "";
    position: absolute;
    
    top: -1px;
    left: -34px;
    
    width: 25px;
    height: 25px;
    
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.3;
}

.filter-input-checkbox:checked + .checkbox-label::before {
    content: "";
    
    position: absolute;
    
    width: 25px;
    height: 25px;
    
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:hover + .checkbox-label::before,
.filter-input-checkbox:focus + .checkbox-label::before {
    opacity: 0.4;
}

.filter-input-checkbox:disabled + .checkbox-label::before {
    opacity: 0.1;
}

.radio-label::before {
    content: "";
    
    position: absolute;
    top: -1px;
    left: -34px;
    
    width: 16px;
    height: 16px;
    
    border: 4px solid #c5c5c5;
    border-radius: 50%;
}

.filter-input-radio:checked + .radio-label::after {
    content: "";
    
    position: absolute;
    top: 7px;
    left: -26px;
    
    width: 8px;
    height: 8px;
    
    background-color: #c5c5c5;
    border-radius: 50%;
}

.filter-input-radio:hover + .radio-label::before,
.filter-input-radio:focus + .radio-label::before {
    border-color: #b5b5b5;
}

.filter-input-radio:disabled + .radio-label::before {
    border-color: #b5b5b5;
    opacity: 0.3;
}

.filter-input-radio:hover + .radio-label::after,
.filter-input-radio:focus + .radio-label::after {
    background-color: #b5b5b5;
}

.filter-input-radio:disabled + .radio-label::after {
    border-color: #b5b5b5;
    opacity: 0.4;
}

.filter-input-radio:disabled:hover + .radio-label::after {
    border-color: #b5b5b5;
    opacity: 0.3;
}

.filter-button {
    padding: 10px 40px;
    color: #000000;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.filters-general-title {
    background-color: #f7f3ec;
    border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
    border-color: #bdc6ca;
    background-color: transparent;
}
.filter-button:active {
    border-color: #ee3643;
    background-color: transparent;
}

.sort-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-right: 118px;
}

.sort-button {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    border: none;
    border-bottom: 1px dotted #ee3643;
    background-color: #f7f3ec;
    
    cursor: pointer;
    
    margin: 0 21px;
    padding: 0;
}

.sort-arrow {
    padding: 0;
    width: 25px;
    border: none;
    background: transparent;
    color: transparent;
    cursor: pointer;
}

.sort-arrow-up::before {
    position: absolute;
    content: "";
    
    right: 40px;
    top: -3px;
    padding: 10px;
    
    width: 11px;
    height: 10px;
    
    background-image: url("../img/icon-up-arrow.svg");
    background-repeat: no-repeat;
    background-position: 10px 8px;
    
    opacity: 0.2;
}

.sort-arrow-down::before {
    position: absolute;
    content: "";
    
    right: 7px;
    top: -4px;
    padding: 10px;
    
    width: 11px;
    height: 10px;
    
    background-image: url("../img/icon-down-arrow.svg");
    background-repeat: no-repeat;
    background-position: 9px 9px;
    
    opacity: 0.2;
}

.sort-arrow-up:hover::before,
.sort-arrow-down:hover::before,
.sort-arrow-up:focus::before,
.sort-arrow-down:focus::before {
    opacity: 1;
}

.sort-arrow-up.current:before {
    background-image: url("../img/icon-up-active.svg");
    opacity: 1;
    cursor: default;
}

.sort-arrow-down.current:before {
    background-image: url("../img/icon-down-active.svg");
    opacity: 1;
    cursor: default;
}

.sort-arrow-up:active::before {
    background-image: url("../img/icon-up-active.svg");
}

.sort-arrow-down:active::before {
    background-image: url("../img/icon-down-active.svg");
}

.sort-current .sort-button {
    color: #ee3643;
    border-bottom: 1px solid transparent;
}

.sort-button:hover,
.sort-button:focus {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort-button:active {
    color: #ee3643;
    border-bottom: none;
}

.pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-wrap: wrap;
    
    padding: 0;
    margin: 0;
}

.pagination-item a {
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    display: block;
    padding: 10px 15px;
}

.pagination-item-current a {
    color: #ffffff;
    background-color: #ee3643;
    border: 1px solid #ee3643;
    border-radius: 2px;
}

.pagination-item-next a {
    padding: 10px 30px;
}

.pagination-item a:hover,
.pagination-item a:focus {
    border-color: #bdc6ca;
}
.pagination-item a:active {
    border-color: #ee3643;
}

.pagination-item {
    margin-right: 9px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.about-perforators {
    background-color: #f4f7f9;
}

/****************** Layout ******************/

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.inner-page .header {
    margin-bottom: 23px;
}

.header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-top-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-middle {
    display: flex;
    width: 940px;
    align-items: center;
    justify-content: space-between;
    
    padding: 41px 0 40px 35px;
    box-sizing: border-box;
}

.inner-page .header-middle {
    padding-top: 44px;
}

.header-column {
    width: 270px;
}

.header-title {
    padding-left: 17px;
    width: 220px;
    box-sizing: border-box;
}

.inner-page .header-title {
    padding-left: 19px;
    width: 240px;
}

.profile {
    width: 300px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

.site-navigation-item {
    flex-grow: 1;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation-item:first-child > a {
    padding-left: 20px;
    box-sizing: border-box;
}

.site-navigation-item:last-child > a {
    padding-right: 22px;
    box-sizing: border-box;
}

.site-navigation a {
    display: block;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}


.container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.catalog-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 23px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inner-page .catalog-list {
    margin-bottom: 30px;
}

.catalog-item-link {
    display: flex;
    flex-direction: column;
    outline: none;
}

.catalog-item-actions {
    display: none;
    
    text-align: center;
    
    position: absolute;
    
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    
    margin: 0;
    padding-top: 43px;
    padding-bottom: 37px;
    
    background-color: #ffffff;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-item-actions,
.catalog-item:focus .catalog-item-actions {
    display: flex;
}

.catalog-item:focus-within .catalog-item-actions {
    display: flex;
}


.catalog-item-actions .button {
    width: 135px;
}

.button.buy {
    padding: 10px 0;
    margin-bottom: 8px;
}

.add-to-bookmarks {
    padding-top: 7px;
    padding-bottom: 7px;
}

.inner-page .catalog-list {
    justify-content: flex-start;
    max-width: 700px;
}

.inner-page .catalog-item {
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 22px;
}

.inner-page .catalog-item:nth-child(3n) {
    margin-right: 0px;
}

.popular-goods {
    margin-bottom: 20px;
}

.brand-card {
    display: flex;
    width: 220px;
    min-height: 145px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.brand-card a {
    display: flex;
    width: 100%;
    outline: none;
    align-items: center;
}

.brand-card img {
    margin: auto;
}

.interskol img {
    margin-top: 20px;
}

.services {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 80px;
}

.services-wrapper {
    width: 940px;
    display: flex;
    flex-direction: column;
    padding: 61px 10px 40px 10px;
}

.services-intro {
    width: 400px;
    margin-top: 25px;
    margin-bottom: 68px;
}

.services-button {
    width: 240px;
    text-align: left;
    padding: 16px 20px;
}

.services-item {
    width: 100%;
}

.services-columns {
    display: flex;
}

.services-column-1 {
    margin-right: 80px;
}

.services-column-2 {
    width: 100%;
}

.services-item-description {
    margin-top: 0;
    width: 275px;
    padding-bottom: 75px
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.main-aboutus,
.main-contacts {
    display: flex;
    flex-direction: column;
}

.main-aboutus {
    width: 520px;
}

.main-aboutus p,
.main-contacts p {
    margin-top: 24px;
    margin-bottom: 0px;
}

.main-contacts {
    width: 300px;
}

.learn-more-button {
    width: 200px;
}

.learn-more-button,
.feedback-button {
    padding: 10px;
    text-align: center;
    margin: auto 0 0 0;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  
    margin: 0;
}

.map-preview {
    margin-top: 30px;
    margin-bottom: 40px;
    display: block;
    cursor: pointer;
}

.main-footer {
    display: flex;
    flex-direction: column;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 47px;
    
    background-color: #32425c;
    color: #ffffff;
}

.footer-navigation-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: flex-end;
}

.footer-navigation-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
}

.social-links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 32px;
    justify-content: flex-end;
    flex-grow: 1;
}

.footer-site-navigation li,
.promo-link li {
    margin-left: 60px;
}

.promo-link {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1
}

.footer-contacts {
    width: 330px;
    flex-shrink: 0;
}


.inner-title {
    background-color: #f2f6f8;
    padding: 30px;
    margin-bottom: 15px;
}

.inner-columns-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.inner-column-1 {
    width: 220px;
    margin-right: 20px;
    flex-shrink: 0;
}

.sort-wrapper {
    position: relative;
    display: flex;
    background-color: #f7f3ec;
    align-items: center;
    
    padding: 9px 0px 10px 20px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.sort-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    
    margin-left: auto;
    position: relative;
    padding: 0;
    margin: 0;
    
    list-style: none;
    font-size: 13px;
    line-height: 18px;
}

.sort-item:last-child {
    flex-grow: 0;
}

.about-perforators-info {
    margin: 0;
}

.about-perforators .container {
    padding-top: 63px;
    padding-bottom: 69px;
}

.perforators-title {
    padding: 0;
    margin-bottom: 25px;
}

.about-perforators-info p {
    margin: 0;
}

.search {
    padding: 11px 0;
    padding-left: 50px;
}

.header-link {
    padding: 11px 0;
    padding-left: 50px;
    min-width: 153px;
    box-sizing: border-box;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    padding-top: 15px;
    width: 280px;
}

.login-link a {
    padding-left: 47px;
    position: relative;
}

.login-link a::before {
    position: absolute;
    content: "";
    
    top: 16px;
    left: 13px;
    
    width: 21px;
    height: 21px;
    
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.3;
}

.login-link a:hover::before,
.login-link a:focus::before { 
    opacity: 1;
}

.login-link a:active::before { 
    opacity: 0.3;
}

.signin-link {
    margin-left: 10px;
}
.header-link,
.order {
    position: relative;
}

.bookmarks::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 20px;
    
    width: 16px;
    height: 16px;
    
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before {
    opacity: 1;
}

.bookmarks:active::before {
    opacity: 0.3;
}

.cart::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 20px;
    
    width: 16px;
    height: 16px;
    
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.3;
}

.cart:hover::before,
.cart:focus::before {
    opacity: 1;
}

.cart:active::before {
    opacity: 0.3;
}

.search-label {
    position: relative;
    flex-grow: 1;
    display: flex;
}

.search-label::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 20px;
    
    width: 17px;
    height: 17px;
    
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.3;
}

.search-label:hover::before {
    opacity: 1;
}

.search-label:active::before,
.search-label:focus-within::before {
    background-image: url("../img/icon-search-active.svg");
}

.promo-column-1 .promo-list {
    display: flex;
    justify-content: space-between;
}

.promo-item {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 122px;
    overflow: hidden;
}

.promo-column-1 {
    margin-bottom: 20px;
}

.promo-column-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.slider-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 81px;
    
    padding: 0;
    
    border: none;
    background: transparent;
    color: transparent;
    outline: none;
    cursor: pointer;
    z-index: 2;
}

.slider-arrow-left {
    left: 0;
}

.slider-arrow-right {
    right: 0;
}

.slider-arrow-left::before {
    position: absolute;
    content: "";
    
    left: 25px;
    top: 114px;
    
    width: 22px;
    height: 40px;
    
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slider-arrow-left:hover::before,
.slider-arrow-left:focus::before {
    filter: drop-shadow(0px 0px 2px #494949)
    drop-shadow(0px 0px 2px #ffffff);
    
}

.slider-arrow-right::before {
    position: absolute;
    content: "";
    
    right: 25px;
    top: 114px;
    
    width: 22px;
    height: 40px;
    
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slider-arrow-right:hover::before,
.slider-arrow-right:focus::before {
    filter: drop-shadow(0px 0px 2px #494949)
    drop-shadow(0px 0px 2px #ffffff);
    
}

.promo-column-2 .promo-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-new {
    position: absolute;
    top: 0;
    right: 5px;
    
    color: #ffffff;
    background-color: #ee3643;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    
    padding: 2px 30px;
    margin: 0;
    
    transform: rotate(45deg) translate(22px, -15px);
}

.social-button {
    position: relative;
    
    display: block;
    height: 42px;
    width: 42px;
    
    background-color: #212a3a;
    border-radius: 50%;
    margin-left: 4px;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
    background-color: #ee3643;
}

.button-vk::before {
    position: absolute;
    content: "";
    
    top: 14px;
    left: 8px;
    
    
    width: 26px;
    height: 15px;
    
    background-image: url("../img/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.button-fb::before {
    position: absolute;
    content: "";
    
    top: 10px;
    left: 15px;
    
    
    width: 12px;
    height: 22px;
    
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.button-instagram::before {
    position: absolute;
    content: "";
    
    top: 11px;
    left: 11px;
    
    
    width: 21px;
    height: 21px;
    
    background-image: url("../img/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-item.guarantee,
.services-item.credit {
    display: none;
}

.services-item.delivery {
    background-image: url("../img/delivery-truck.png");
    background-repeat: no-repeat;
    background-position: 150px 25px;
    
    background-size: 468px 261px;   
}

.services-menu::after {
    position: absolute;
    content: "";
    
    top: -45px;
    right: -1px;
    
    width: 10px;
    height: 279px;
    
    background-image: url("../img/services-shadow.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.services-button.guarantee {
    border-bottom: 1px solid #293449;
}

.services-button.credit {
    border-top: 1px solid #405069;
}

.partners-list li {
    margin-bottom: 20px;
    position: relative;
}

.partners-list li::before {
    position: absolute;
    content: "";
    
    top: 9px;
    left: -37px;
    
    width: 25px;
    height: 2px;
    
    background-image: url("../img/partners-list-marker.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.brands-popular {
    margin-bottom: 70px;
}

.guarantee .services-item-description {
    width: 390px;
}

.services-item.guarantee {
    background-image: url("../img/icon-guarantee.png");
    background-repeat: no-repeat;
    background-position: 239px 3px;
    
    background-size: 389px 283px;
}

.credit .services-item-description {
    width: 280px;
    padding-bottom: 21px;
}

.services-item.credit {
    background-image: url("../img/icon-credit.png");
    background-repeat: no-repeat;
    background-position: 167px 1px;
    
    background-size: 465px 285px;
    
    padding-bottom: 88px;
    padding-right: 15px;
}

.credit-button {
    padding-left: 45px;
    padding-right: 45px;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    justify-content: center;
    align-items: center;
    
    display: none;
}

.modal-map {
    position: relative;
    width: 940px;
    box-shadow: 0 0 15px 1px rgba(41, 52, 73, 0.5);
}

.modal-map iframe {
    position: relative;
    z-index: 2;
    
    border: none;
}

.modal-feedback {
    position: relative;
    width: 620px;
    
    background: #ffffff;
    box-shadow: 0 0 50px 1px rgba(41, 52, 73, 0.5);
    border-top: 7px solid #ee3643;
    
    box-sizing: border-box;
}

.form-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px 80px;
}

.modal-button-wrapper {
    display: flex;
    background-color: #f4f4f4;
    padding: 37px 80px;
}

.feedback-form-button {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 12px;
}

.feedback-form label {
    display: block;
    margin-bottom: 8px;
}

.feedback-item {
    margin-bottom: 0;
}

.feedback-item input {
    border: 2px solid #dee3e4;
    border-radius: 2px;
    
    padding: 10px 15px;
    width: 220px;
    
    box-sizing: border-box;
    outline: none;
}

.feedback-item input:hover {
    border-color: #b5b5b5;
}

.feedback-item input:focus {
    border-color: #ee3643;
}

.feedback-text {
    width: 100%;
}

.feedback-text label {
    margin-top: 9px;
}

.feedback-text textarea {
    width: 100%;
    padding: 10px 15px;
    
    border: 2px solid #dee3e4;
    border-radius: 2px;
    
    box-sizing: border-box;
    outline: none;
}

.feedback-item textarea:hover {
    border-color: #b5b5b5;
}

.feedback-item textarea:focus {
    border-color: #ee3643;
}

.modal-close {
    position: absolute;
    top: 9px;
    right: 9px;
    
    background: transparent;
    color: transparent;
    border: none;
    
    margin: 0;
    padding: 0;
    font-size: 0;
    
    width: 21px;
    height: 21px;
    
    background-image: url("../img/modal-x.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    cursor: pointer;
    outline: none;
    z-index: 2;
}

.home-icon {
    display: inline-block;
    vertical-align: baseline;
    
    width: 14px;
    height: 12px;
    
    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.modal-wrapper-added {
    position: fixed;
    display: none;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    justify-content: center;
    align-items: center;
}

.modal-item-added {
    position: relative;
    width: 620px;
    
    background-color: #ffffff;
    box-shadow: 0 0 50px 1px rgba(41, 52, 73, 0.5);
    border-top: 7px solid #ee3643;
}

.modal-title {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    
    padding: 25px 80px 23px 80px;
    text-align: left;
}

.modal-title::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    
    width: 66px;
    height: 66px;
    
    background-image: url("../img/icon-checkmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 32px;
}

.modal-button-wrapper .button,
.modal-button-wrapper button {
    flex-grow: 1;
    text-align: center;
    min-width: 220px;
}

.modal-continue {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 11px 0;
    
    color: #000000;
    background-color: #ffffff;
    margin-left: 20px;
    border: none;
}

.modal-continue:hover,
.modal-contunue:focus {
    color: #ee3643;
    background-color: #ffffff;
}

.modal-continue:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.js-modal-show {
    display: flex;
    
    animation: bounce 0.6s;
}

.js-modal-error {
    animation: shake 0.6s;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    
    70% {
        transform: translateY(30px);
    }
    
    90% {
        transform: translateY(-10px);
    }
    
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}