body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.header {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
}

.header,
.services {
    background-color: #f4f7f9;
}

.header-top,
.header-bottom,
.search {
    color: rgb(255, 255, 255);
    background-color: #293449;
}

.header-logo {
    background-color: #ee3643;
    padding: 12px 55px;
}

.header-logo:hover,
.header-logo:focus,
.footer-logo:hover,
.footer-logo:focus {
    background-color: #ca2c37;
}

.header-logo:active,
.footer-logo:active {
    background-color: #ba2732;
}

.search {
    border: none;
}

.search::placeholder {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.header-link:hover,
.header-link:focus,
.search:hover,
.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #212a3a;
}

.search:focus {
    background-color: #ffffff;
    color: #000000;
}

.header-link:active,
.site-navigation a:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.cart-full {
    background-color: #ee3643;
}

.cart-full:hover,
.cart-full:focus {
    background-color: #ca2c37;
}

.cart-full:active {
    background-color: #ba2732;
}

.order {
    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

.telephone {
    color: #ee3643;
}

.site-title {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    margin: 0;
}

.telephone {
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    border: 2px solid #ffffff;
}

.header-top a,
.header-bottom a {
    color: #ffffff;
}

.user-navigation,
.site-navigation,
.promo-list,
.services-list,
.slider {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-navigation a {
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 21px;
}

.user-navigation a:hover,
.user-navigation a:focus {
    color: #ee3643;
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-contacts {
    text-align: center;
}

.address {
    font-style: normal;
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
}

.button {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

.promo {
    font-family: Cuprum, Arial, sans-serif;
    color: #ffffff;
}

.promo-item-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.promo-item.materials {
    background-color: #ffbf47;
}

.promo-list a {
    background-color: rgba(0, 0, 0, 0.1);
}

.promo a:hover,
.promo a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo-item.tool {
    background-color: #3bbce3;
}

.promo-item.machinery {
    background-color: #dc91d8;
}

.promo-item.discount {
    background-color: #8ed78f;
}

.promo-item.delivery {
    background-color: #ffc047;
}

.slider-1 {
    background-color: #a87d73;
    background-image: url("../img/slider-perforator-1.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 620px;
    height: 266px;
}

.slider-2 {
    background-color: #d3c2ac;
    background-image: url("../img/slider-perforator-2.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 620px;
    height: 266px;
}

.slider-title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.slider-slogan {
    font-size: 18px;
    line-height: 24px;
}

.slider a:hover,
.slider a:focus {
    background-color: #ca2c37;
}

.slider a:active {
    background-color: #ba2732;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.popular-wrapper {
    background-color: #f9f5f0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 25px;
    margin-bottom: 20px;
}

.popular-button {
    line-height: 40px;
    width: 253px;
    text-align: center;
}

.button {
    background-color: #ee3643;
    border: none;
}

.catalog-item-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
    order: 2;
}

.catalog-item-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
}

.price-old {
    color: #a9a9a9;
    text-decoration: line-through;
}

.price {
    color: #ffffff;
    background-color: #ee3643;
}

.brands-icons-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button.buy {
    background-color: #63a63e;
    color: #ffffff;
    border: none;
}

.button.buy:hover,
.button.buy:focus {
    background-color: #5fbb2d;
}

.button.buy:active {
    background-color: #518534;
}

.button.add-to-bookmarks {
    background-color: #ffffff;
    color: #32425c;
    border: #63a63e 3px solid;
}

.button.add-to-bookmarks:hover,
.button.add-to-bookmarks:focus {
    border: #32425c 3px solid;
}

.button.add-to-bookmarks:active {
    border: rgba(50, 66, 92, 0.3) 3px solid;
    color: rgba(50, 66, 92, 0.3);
}

.brand-card:hover,
.brand-card:focus {
    box-shadow: 0px 5px 25px 0px
    rgba(41, 52, 73, 0.5);
}

.brand-card:active {
    filter: opacity(0.3);
    box-shadow: 0px 5px 10px 0px
    rgba(41, 52, 73, 0.5);
}

.title {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 5px;
}

.title-blue {
    color: #32425c;
}

.title-black {
    color: #000000;
}

.services-menu {
    font-family:  Cuprum, Arial, sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

.services-button {
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    background-color: #32425c;
    font-weight: bold;
    border: none;
}

.services-button:hover,
.services-button:focus {
    background-color: #293449;
}

.services-button:active {
    background-color: #ffffff;
    color: #32425c;
}

.services-button.current {
    background-color: #ffffff;
    color: #32425c;
}

.services-item-title {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: normal;
    color: #32425c;
    margin: 0;
    padding-bottom: 28px;
}

.partners-list {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    list-style: none;
}

.feedback-item > label {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
}

::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.footer-navigation {
    background-color: #32425c;
    color: #ffffff;
}

.footer-logo {
    background-color: #ee3643;
    padding: 20px 40px;
}

.footer-contacts .address,
.main-footer a,
.footer-links {
    color: #ffffff;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
}

.footer-links {
    background-color: #293449;
    padding-top: 38px;
}

.footer-site-navigation,
.promo-link,
.footer-social ul {
    list-style: none;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
.promo-link a:hover,
.promo-link a:focus {
    text-decoration: underline;
}

.footer-site-navigation a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.promo-link a:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.promo-link a {
    color: #ffd180;
}

.footer-links p {
    font-size: 16px;
    line-height: 18px;
}

.footer-social {
    text-align: center;
}

.footer-feedback a,
.footer-copyright a {
    color: #ffd180;
    font-size: 16px;
}

.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
    text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright a:active {
    color: #ee3643;
    text-decoration: none;
}

.user-name {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.profile-links {
    list-style: none;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.profile-links a {
    color: #32425c;
    text-decoration: underline;
}

.profile-links a:hover,
.profile-links a:focus {
    color: #ee3643;
}

.profile-links a:active {
    color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
    list-style: none;
    line-height: 18px;
    text-transform: uppercase;
}

.breadcrumbs a {
    color: #000000;
}

.filters {
    text-transform: uppercase;
}
.filters-general-title,
.sort-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.filter-title {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
}

.price-range::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
}

.brands-list,
.power-source-list  {
    list-style: none;
}

.brands-list label,
.power-source-list label {
    list-style: none;
    font-size: 15px;
    line-height: 20px;
}

.filters-field {
    border: none;
}

.sort-list {
    list-style: none;
    font-size: 13px;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

.filters-general-title,
.slider-bar,
.price-range {
    background-color: #f7f3ec;
}

.sort-button {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    border: none;
    border-bottom: 1px dotted #ee3643;
    background-color: #f7f3ec;
}

.sort-current .sort-button {
    color: #ee3643;
    border-bottom: none;
}

.sort-button:hover,
.sort-button:focus {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort-button:active {
    color: #ee3643;
    border-bottom: none;
}

.pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-item a {
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.pagination-item-current a {
    color: #ffffff;
    background-color: #ee3643;
}

.pagination-item a:hover,
.pagination-item a:focus {
    border-color: #bdc6ca;
}
.pagination-item a:active {
    border-color: #ee3643;
}

.about-perforators {
    background-color: #f4f7f9;
}

/****************** Layout ******************/

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-top-wrapper {
    width: 940px;
    display: flex;
}

.header-middle {
    display: flex;
    width: 940px;
}

.header-column {
    width: 300px;
    padding: 45px 20px;
}

.header-bottom {
    display: flex;
    width: 940px;
}

.site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
}

.site-navigation a {
    display: block;
    padding: 20px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.promo {
    margin-bottom: 50px;
}

.catalog-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.catalog-item-link {
    display: flex;
    flex-direction: column;
}

.catalog-item {
    width: 220px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.catalog-item-actions {
    text-align: center;
}

.inner-page .catalog-list {
    justify-content: flex-start;
}

.inner-page .catalog-item {
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.inner-page .catalog-item:nth-child(3n) {
    margin-right: 0px;
}

.popular-goods {
    margin-bottom: 20px;
}

.brands-icons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand-card {
    display: flex;
    width: 220px;
    min-height: 145px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
}

.brand-card a {
    display: flex;
    width: 100%;
}

.brand-card img {
    margin: auto;
}

.services {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 80px;
}

.services-wrapper {
    width: 940px;
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
}

.services-intro {
    width: 400px;
    margin-bottom: 75px;
}

.services-button {
    width: 240px;
    text-align: left;
    padding: 15px 20px;
}

.services-item {
    width: 275px;
}

.services-columns {
    display: flex;
}

.services-column-1 {
    margin-right: 80px;
}

.services-column-2 {
    width: 300px;
}

.services-item-description {
    margin-top: 0;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.main-aboutus,
.main-contacts {
    display: flex;
    flex-direction: column;
}

.main-aboutus {
    width: 520px;
}

.main-contacts {
    width: 300px;
}

.learn-more-button {
    width: 200px;
}

.learn-more-button,
.main-feedback-button {
    padding: 10px;
    text-align: center;
}

.map-preview {
    margin-top: 30px;
    margin-bottom: 40px;
}

.main-footer {
    display: flex;
    flex-direction: column;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.footer-navigation-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: flex-end;
}

.footer-navigation-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-links {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .footer-site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    justify-content: flex-end;
    flex-grow: 1;
}

.footer-site-navigation li,
.promo-link li {
    margin-left: 60px;
}

.promo-link {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1
}

.footer-contacts {
    width: 330px;
    flex-shrink: 0;
}

/****************** Catalog Layout ******************/

.breadcrumbs {
    padding: 0;
    margin: 0;
    display: flex;
}

.breadcrumbs li {
    padding: 20px;
}

.inner-title {
    background-color: #f2f6f8;
    padding: 30px;
    margin-bottom: 20px;
}

.inner-columns-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.inner-column-1 {
    width: 220px;
    margin-right: 20px;
    flex-shrink: 0;
}

.sort-wrapper {
    display: flex;
    background-color: #f7f3ec;
    align-items: center;
    padding: 8px 20px;
    margin-bottom: 20px;
}

.sort-list {
    display: flex;
    justify-content: space-between;
}

.about-perforators-info {
    margin: 0;
}

.about-perforators .container {
    padding: 66px;
}

.perforators-title {
    padding: 0;
    margin-bottom: 25px;
}

.about-perforators-info p {
    margin: 0;
}